<form method="POST" action="/new">
    <h3>Enter new message: </h3>
    <label for="Authorname">Name: <input type="text" name="Authorname"></label>
    <br>
    <label for="msgtext">Message: <input type="text" name="msgtext"></label>
    <br>
    <button type="submit">Submit</button>
 </form>
 